In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import csv
# import janitor
import numpy as np

In [12]:
# sample list
mapping_16S = pd.read_csv("~/Documents/thesis/16S_mapping.csv")
mapping_16S.head()

,#SampleID,Mother_Child,SubjectID,MaternalID,TimePoint,Fecal_EtOH,CollectionRep,DOC,DOF,Date_Shipped,...,Mgx_processed,Mgx_batch,DO16S,16S_processed,Discrepancies,Batch_1_Mapping,16S_batch,16S_plate,Mgx_batch Mapping,16S_batch Mapping
0,C0052-5F-1A,C,52,0052_m,5,F,1,7/25/17,7/25/17,8/17/17,...,Sequenced,Batch 1,6/13/18,Sequenced,Written as 52E but needs to be changed to 52F,052E.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001
1,C0126-8F-1A,C,126,0126_m,8,F,1,7/25/17,NNA,8/17/17,...,Sequenced,Batch 1,6/13/18,Sequenced,NNA,126H.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001
2,C0126-8F-1B,C,126,0126_m,8,F,1,7/25/17,NNA,8/17/17,...,Sequenced,Batch 1,6/13/18,Sequenced,NNA,126H-B.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001
3,C0127-6F-1B,C,127,0127_m,6,F,1,7/25/17,NNA,8/17/17,...,Sequenced,Batch 1,6/13/18,Sequenced,NNA,127F.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001
4,C0286-5F-1A,C,286,0286_m,5,F,1,7/25/17,7/25/17,8/17/17,...,Sequenced,Batch 1,6/13/18,Sequenced,NNA,286E.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001

In [13]:
samplenames = list(mapping_16S["#SampleID"])

In [14]:
len(samplenames)

345

In [15]:
# read in mgx data
mgx = pd.read_csv("mgx_genera.csv")
mgx.rename(columns={'Taxon':'taxa'}, inplace=True)
mgx.head()

,taxa,C0052-5F-1A,C0126-8F-1A,C0126-8F-1B,C0127-6F-1B,C0286-5F-1A,C0296-5F-1A,C0053-6F-1A,C0108-4F-1A,C0498-1F-2A,...,M1116-1F-1A,C0828-4F-1A,C1062-3F-1A,M1082-1F-1A,C0461-4F-1A,M1110-1F-1A,C0388-7F-1A,M1088-1F-1A,C1089-1F-1A,M1109-1F-1A
0,Acidaminococcaceae_unclassified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0
1,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.002632,0.0,0.0,0.000000,0.03501,0.0,0.0
2,Acinetobacter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0
3,Actinobacillus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000139,0.000000,0.0,0.0,0.000116,0.00000,0.0,0.0
4,Actinobaculum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0

In [16]:
# ratio of unclassified organisms profiled with mgx
sum(mgx.taxa.str.contains("_unclassified| noname"))/mgx.shape[0]

0.041916167664670656

In [17]:
# remove taxa that are unclassified or have no name
# "_unclassified"
# "_noname"
mgx = mgx[~mgx.taxa.str.contains("_unclassified")]
mgx = mgx[~mgx.taxa.str.contains("_noname")]

In [18]:
mgx.sample(15)

,taxa,C0052-5F-1A,C0126-8F-1A,C0126-8F-1B,C0127-6F-1B,C0286-5F-1A,C0296-5F-1A,C0053-6F-1A,C0108-4F-1A,C0498-1F-2A,...,M1116-1F-1A,C0828-4F-1A,C1062-3F-1A,M1082-1F-1A,C0461-4F-1A,M1110-1F-1A,C0388-7F-1A,M1088-1F-1A,C1089-1F-1A,M1109-1F-1A
101,Mobiluncus,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
15,Anaeroglobus,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
46,Collinsella,0.021758,0.000000,0.000000,0.0,0.003368,0.032115,0.014475,0.015372,0.000000,...,0.012545,0.000000,0.000000,0.004446,0.000000,0.003,0.011440,0.004458,0.009387,0.005104
61,Eikenella,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
7,Aeromonas,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
31,Butyricimonas,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
14,Anaerofustis,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
55,Desulfovibrio,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
145,Serratia,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
88,Lactobacillus,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.030835,0.000000,0.000000,0.002963,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
85,Jonquetella,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
164,Veillonella,0.000419,0.000014,0.000117,0.0,0.010778,0.000997,0.012216,0.000000,0.066886,...,0.001662,0.053236,0.000401,0.001318,0.000198,0.000,0.001087,0.000350,0.000736,0.002182
52,Corynebacterium,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
13,Anaerococcus,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
136,Raoultella,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003183,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000

In [19]:
mgx.to_csv('mgx_abundance.csv', index=False)

In [20]:
# read in 16S data
amplicon = pd.read_csv("feature-table.csv")
amplicon.rename(columns={'#OTU ID':'taxa'}, inplace=True)

In [21]:
# clean taxonomic names
# keep only genera
amplicon["taxa"] = amplicon['taxa'].str.split("D_5__", expand=True)[1]
amplicon.dropna(inplace=True)

In [22]:
amplicon.head()

,taxa,C0047-7E-1A,C0052-7E-1A,C0053-8E-1A,C0058-4E-1A,C0059-4E-1A,C0106-6E-1A,C0107-4E-1A,C0123-3E-1A,C0126-9E-1A,...,M1087-1F-1A,M1088-1F-1A,M1095-1F-1A,M1096-1F-1A,M1099-1F-1A,M1109-1F-1A,M1110-1F-1A,M1113-1F-1A,M1115-1F-1A,M1116-1F-1A
0,Methanobrevibacter,0,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,19,0,0,0
7,Subgroup 10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Subgroup 23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Ilumatobacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Actinomyces,0,0,7,0,0,0,0,12,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
len(amplicon.columns.values)

264

In [24]:
amplicon.sort_values(by = "taxa", ascending=True, inplace=True)

In [25]:
amplicon["taxa"] = amplicon["taxa"].astype(str)

In [26]:
# ratio of unclassified genera for 16S profiling
sum(amplicon.taxa.str.contains("_unclassified| unidentified| uncultured| group"))/amplicon.shape[0]

0.06435643564356436

In [27]:
# calculate relative abundances
bug_sum = amplicon.sum(axis = 0, skipna = True)
amplicon.iloc[:, 1:] = amplicon.iloc[:, 1:]/bug_sum

In [28]:
# remove any Nones, uncultured organisms
amplicon = amplicon[~amplicon.taxa.str.contains("uncultured")]
amplicon = amplicon[~amplicon.taxa.str.contains("metagenome")]
amplicon = amplicon[~amplicon.taxa.str.contains("unidentified")]
amplicon = amplicon[~amplicon.taxa.str.contains(r'[0-9]')]
amplicon = amplicon[~amplicon.taxa.str.contains("group")]

In [29]:
amplicon.to_csv('16S_abundance.csv')

### looking for the intersection of taxonomy

In [30]:
# calculate number of taxa in both vs. either one

In [31]:
amplicon_taxa_list = set(amplicon["taxa"])
mgx_taxa_list = set(mgx["taxa"])

In [32]:
intersection = amplicon_taxa_list.intersection(mgx_taxa_list)
union = amplicon_taxa_list.union(mgx_taxa_list)

In [33]:
union_df = pd.DataFrame(union)
union_df.to_csv('taxalist.csv', index=False)

In [34]:
len(intersection)
len(amplicon_taxa_list)-len(intersection)
len(mgx_taxa_list)-len(intersection)

84

159

59

In [35]:
amplicon_only = amplicon_taxa_list.difference(intersection)
mgx_only = mgx_taxa_list.difference(intersection)

In [36]:
len(amplicon_only)
len(mgx_only)

159

59

In [80]:
!pwd

/Users/danielle/Documents/thesis/paper-method-comparison

In [77]:
with open('intersection.txt', 'w') as f:
    for item in intersection:
        f.write("%s\n" % item)

12

11

17

12

10

12

14

13

16

11

9

14

8

12

16

11

14

14

12

14

10

16

15

12

13

15

12

19

11

10

14

15

11

12

16

12

11

15

12

10

14

12

10

19

12

15

11

10

13

6

12

22

8

13

8

12

10

15

11

12

12

16

15

13

8

8

13

16

10

11

15

14

17

15

14

12

10

11

14

14

10

14

14

12

In [78]:
with open('amplicon_only.txt', 'w') as f:
    for item in amplicon_only:
        f.write("%s\n" % item)

11

17

26

10

14

9

9

17

12

12

14

14

29

12

13

11

19

14

23

13

10

11

18

12

13

13

20

13

8

12

13

14

16

9

17

11

12

14

15

15

13

13

13

13

10

10

13

22

11

11

23

12

14

12

17

15

15

15

8

15

11

51

11

11

10

11

14

15

16

9

11

25

14

7

14

10

10

14

13

35

14

9

9

10

11

16

24

11

11

17

9

12

10

14

16

21

16

12

8

15

19

9

15

10

9

11

12

20

11

14

12

13

10

16

17

20

14

18

7

17

14

18

14

15

15

18

14

11

11

10

17

17

14

15

14

23

11

15

11

15

13

18

11

12

15

11

11

16

17

13

12

10

15

14

12

11

17

15

7

In [79]:
with open('mgx_only.txt', 'w') as f:
    for item in mgx_only:
        f.write("%s\n" % item)

12

14

21

14

15

12

15

11

12

18

16

10

15

16

9

11

10

10

15

14

11

12

14

14

12

13

12

13

7

10

14

13

13

12

13

10

15

16

12

19

13

18

14

12

10

12

14

12

16

14

12

14

11

13

12

17

9

12

17

### creating long-form dataframe with data from both sequencing methods

In [38]:
# only keeping samples we have both mgx and 16S profiles for
samples_intersect = set(mgx.columns.values).intersection(set(amplicon.columns.values))

In [39]:
# remove mothers
children_intersect = [id for id in samples_intersect if not id.startswith("M")]

In [40]:
mgx = mgx[children_intersect]
amplicon = amplicon[children_intersect]

In [41]:
# confirm that we now have the same samples
(amplicon.columns.values) == (mgx.columns.values)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [42]:
amplicon_melt = pd.melt(amplicon, id_vars=["taxa"], var_name = "sampleid", value_name = "amplicon_abund")

In [43]:
mgx_melt = pd.melt(mgx, id_vars=["taxa"], var_name = "sampleid", value_name = "mgx_abund")

In [44]:
merged_taxa = pd.merge(amplicon_melt, mgx_melt, on = ["sampleid", "taxa"], how = "outer")

In [45]:
merged_taxa.to_csv('taxa_abundance_comparison.csv')

In [46]:
merged_taxa["abs_diff"] = abs(merged_taxa["amplicon_abund"] - merged_taxa["mgx_abund"])
merged_taxa["tot_diff"] = (merged_taxa["amplicon_abund"] - merged_taxa["mgx_abund"])

In [47]:
merged_taxa.sample(10)

,taxa,sampleid,amplicon_abund,mgx_abund,abs_diff,tot_diff
961,Turicibacter,C0047-7E-1A,0.000278,0.0,0.000278,0.000278
18454,Thiocystis,C0811-1E-1A,0.000000,NaN,NaN,NaN
17213,Rubricoccus,C0694-1E-1A,0.000000,NaN,NaN,NaN
14737,Mogibacterium,C0936-1F-1A,0.000000,NaN,NaN,NaN
24811,Rothia,C0229-5F-1A,NaN,0.0,NaN,NaN
706,Stenotrophomonas,C0682-3F-1A,0.000000,0.0,0.000000,0.000000
8386,Joostella,C0713-4F-1A,0.000000,NaN,NaN,NaN
27979,Inovirus,C1026-1F-1A,NaN,0.0,NaN,NaN
10088,Klebsiella,C0127-7E-1A,0.000000,0.0,0.000000,0.000000
12624,Truepera,C0661-2F-1A,0.000000,NaN,NaN,NaN

In [76]:
merged_taxa.fillna(0, inplace=True)

In [49]:
amplicon_avg_abund = merged_taxa.groupby("taxa")["amplicon_abund"].mean()
mgx_avg_abund = merged_taxa.groupby("taxa")["mgx_abund"].mean()
taxa_list = sorted(set(merged_taxa["taxa"]))

In [50]:
mean_taxa_abund = pd.DataFrame(
    (zip(taxa_list, amplicon_avg_abund, mgx_avg_abund)),  
    columns = ['taxa','amp_avg_abund', 'mgx_avg_abund'])

In [51]:
mean_taxa_abund["abs_diff"] = abs(mean_taxa_abund["amp_avg_abund"] - mean_taxa_abund["mgx_avg_abund"])
mean_taxa_abund["total_diff"] = mean_taxa_abund["amp_avg_abund"] - mean_taxa_abund["mgx_avg_abund"]

In [52]:
mean_taxa_abund.sort_values("abs_diff", axis = 0, ascending = True, 
                 inplace = True, na_position ='last')

In [53]:
mean_taxa_abund.sample(10)

,taxa,amp_avg_abund,mgx_avg_abund,abs_diff,total_diff
6,Actibacter,0.000021,NaN,NaN,NaN
186,Megasphaera,0.001008,0.000924,0.000084,0.000084
228,Planoglabratella opercularis,0.000068,NaN,NaN,NaN
88,Dielma,0.000028,NaN,NaN,NaN
282,Tannerella,NaN,0.000000,NaN,NaN
104,Epulopiscium,0.000010,NaN,NaN,NaN
221,Peptoniphilus,NaN,0.000022,NaN,NaN
56,Candidatus Udaeobacter,0.000000,NaN,NaN,NaN
172,Loktanella,0.000011,NaN,NaN,NaN
85,Desulfosarcina,0.000023,NaN,NaN,NaN

In [54]:
mean_taxa_abund.to_csv('taxa_difference.csv')

## making giant dataframe of abundances

In [55]:
amp_trans = amplicon.set_index("taxa").transpose()

In [56]:
amp_trans.reset_index(level=0, inplace=True)

In [57]:
amp_trans.rename(columns = {'index':'sampleid'}, inplace = True)

In [58]:
amp_trans["uid"] = amp_trans["sampleid"].astype(str)+'-amp'

In [59]:
amp_trans["method"] = "amp"

In [60]:
amp_trans.head()

taxa,sampleid,Acetanaerobacterium,Acetobacter,Acholeplasma,Achromobacter,Acidaminococcus,Acinetobacter,Actibacter,Actinobacillus,Actinomyces,...,Veillonella,Vibrio,Victivallis,Virgulinella fragilis,Weissella,Winogradskyella,Woeseia,endosymbionts,uid,method
0,C0754-2F-1A,0.0,0.0,0.0,0.0,0.0,0.000375,0.0,0.0,0.000176,...,0.068724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C0754-2F-1A-amp,amp
1,C0752-4F-1A,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.235770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C0752-4F-1A-amp,amp
2,C0682-3F-1A,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000644,...,0.004231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C0682-3F-1A-amp,amp
3,C0047-7E-1A,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C0047-7E-1A-amp,amp
4,C0656-4F-1A,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000086,...,0.001902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C0656-4F-1A-amp,amp

In [61]:
mgx_trans = mgx.set_index("taxa").transpose()

In [62]:
mgx_trans.reset_index(level=0, inplace=True)

In [63]:
mgx_trans.rename(columns = {'index':'sampleid'}, inplace = True)

In [64]:
mgx_trans["uid"] = mgx_trans["sampleid"].astype(str)+'-mgx'

In [65]:
mgx_trans["method"] = "mgx"

In [66]:
mgx_trans.head()

taxa,sampleid,Acidaminococcus,Acinetobacter,Actinobacillus,Actinobaculum,Actinomyces,Adlercreutzia,Aeromonas,Aggregatibacter,Akkermansia,...,Tannerella,Treponema,Tunalikevirus,Turicibacter,Ureaplasma,Varibaculum,Veillonella,Weissella,uid,method
0,C0754-2F-1A,0.000000,0.000019,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.039616,0.0,C0754-2F-1A-mgx,mgx
1,C0752-4F-1A,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.212711,0.0,C0752-4F-1A-mgx,mgx
2,C0682-3F-1A,0.000102,0.000000,0.0,0.0,0.001647,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.009643,0.0,C0682-3F-1A-mgx,mgx
3,C0047-7E-1A,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000056,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,C0047-7E-1A-mgx,mgx
4,C0656-4F-1A,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000302,0.0,C0656-4F-1A-mgx,mgx

In [67]:
concat_df = pd.concat([mgx_trans,amp_trans], sort=True).reset_index(drop = True)

In [68]:
len(concat_df)

198

In [69]:
age = pd.read_csv("~/Documents/thesis/analysis/metadatawide.csv")

FileNotFoundError: [Errno 2] File b'/Users/danielle/Documents/thesis/analysis/metadatawide.csv' does not exist: b'/Users/danielle/Documents/thesis/analysis/metadatawide.csv'

In [70]:
age = age[['sample','childAgeMonths']]

NameError: name 'age' is not defined

In [71]:
age["sample"] = age["sample"].str.replace("_",'-')
age.rename(columns = {'sample':'sampleid'}, inplace = True)

NameError: name 'age' is not defined

In [72]:
# make age dictionary
agedict = {str(s): {} for s in age["sampleid"]}
for index, row in age.iterrows():
    age_months = row["childAgeMonths"]
    agedict[row["sampleid"]]= age_months

NameError: name 'age' is not defined

In [73]:
concat_df["AgeMonths"]= concat_df["sampleid"].map(agedict)

NameError: name 'agedict' is not defined

In [74]:
cols_to_order = ['uid', 'sampleid',"method", "AgeMonths"]
new_columns = cols_to_order + (concat_df.columns.drop(cols_to_order).tolist())
concat_df = concat_df[new_columns]

KeyError: "['AgeMonths'] not found in axis"

In [75]:
concat_df.sample(15)

,Acetanaerobacterium,Acetobacter,Acholeplasma,Achromobacter,Acidaminococcus,Acinetobacter,Actibacter,Actinobacillus,Actinobaculum,Actinomyces,...,Vibrio,Victivallis,Virgulinella fragilis,Weissella,Winogradskyella,Woeseia,endosymbionts,method,sampleid,uid
113,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0332-4E-1A,C0332-4E-1A-amp
22,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0742-3F-1A,C0742-3F-1A-mgx
110,0.0,0.0,0.0,0.0,0.000074,0.003589,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0739-2F-1A,C0739-2F-1A-amp
180,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0348-3F-1A,C0348-3F-1A-amp
157,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000696,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0799-1E-1A,C0799-1E-1A-amp
139,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0724-1E-1A,C0724-1E-1A-amp
141,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0656-5F-1A,C0656-5F-1A-amp
162,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0647-4F-1A,C0647-4F-1A-amp
6,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0703-4F-1A,C0703-4F-1A-mgx
69,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0237-4E-1A,C0237-4E-1A-mgx
56,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0296-6E-1A,C0296-6E-1A-mgx
52,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C2018-4F-1A,C2018-4F-1A-mgx
130,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,amp,C0286-6E-1A,C0286-6E-1A-amp
63,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0647-4F-1A,C0647-4F-1A-mgx
98,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0,0.0,0.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,mgx,C0711-4F-1A,C0711-4F-1A-mgx

In [67]:
concat_df.to_csv('transposed_mgxamp_df.csv')