In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import csv
import janitor
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
col_names = ["bug" + str(i) for i in range(1,51)]    
mock_df = pd.DataFrame(index=range(1,10),columns=range(1,51))
mock_df.columns = col_names

In [3]:
mock_df['sample'] = np.arange(len(mock_df))
mock_df['num_bugs'] = 3*[5, 10, 50]
mock_df['log_base'] = [1, 1, 1, 2, 2, 2, 1.5, 1.5, 1.5]

In [4]:
mock_df

,bug1,bug2,bug3,bug4,bug5,bug6,bug7,bug8,bug9,bug10,...,bug44,bug45,bug46,bug47,bug48,bug49,bug50,sample,num_bugs,log_base
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,50,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,2.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,10,2.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,50,2.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,5,1.5
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,10,1.5
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,50,1.5

In [5]:
community_dict = {}
for i in range(len(mock_df)):
    bugs = [mock_df["log_base"][i+1]**j for j in range(mock_df["num_bugs"][i+1])]
    community_dict[i] = (bugs)

0
1
2
3
4
5
6
7
8

In [7]:
mock_communities = pd.DataFrame.from_dict(community_dict,orient='index')

In [8]:
mock_communities

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.0,1.0,1.00,1.000,1.0000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.00,1.000,1.0000,1.00000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,1.00,1.000,1.0000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
3,1.0,2.0,4.00,8.000,16.0000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2.0,4.00,8.000,16.0000,32.00000,64.000000,128.000000,256.000000,512.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,2.0,4.00,8.000,16.0000,32.00000,64.000000,128.000000,256.000000,512.000000,...,1.099512e+12,2.199023e+12,4.398047e+12,8.796093e+12,1.759219e+13,3.518437e+13,7.036874e+13,1.407375e+14,2.814750e+14,5.629500e+14
6,1.0,1.5,2.25,3.375,5.0625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.0,1.5,2.25,3.375,5.0625,7.59375,11.390625,17.085938,25.628906,38.443359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.0,1.5,2.25,3.375,5.0625,7.59375,11.390625,17.085938,25.628906,38.443359,...,1.105733e+07,1.658600e+07,2.487900e+07,3.731850e+07,5.597774e+07,8.396662e+07,1.259499e+08,1.889249e+08,2.833873e+08,4.250810e+08

In [9]:
mock_communities.columns = col_names
mock_communities['sample'] = np.arange(len(mock_communities))
mock_communities['num_bugs'] = 3*[5, 10, 50]

In [14]:
mock_communities

,bug1,bug2,bug3,bug4,bug5,bug6,bug7,bug8,bug9,bug10,...,bug43,bug44,bug45,bug46,bug47,bug48,bug49,bug50,sample,num_bugs
0,1.0,1.0,1.00,1.000,1.0000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5
1,1.0,1.0,1.00,1.000,1.0000,1.00000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10
2,1.0,1.0,1.00,1.000,1.0000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2,50
3,1.0,2.0,4.00,8.000,16.0000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
4,1.0,2.0,4.00,8.000,16.0000,32.00000,64.000000,128.000000,256.000000,512.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,10
5,1.0,2.0,4.00,8.000,16.0000,32.00000,64.000000,128.000000,256.000000,512.000000,...,4.398047e+12,8.796093e+12,1.759219e+13,3.518437e+13,7.036874e+13,1.407375e+14,2.814750e+14,5.629500e+14,5,50
6,1.0,1.5,2.25,3.375,5.0625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,5
7,1.0,1.5,2.25,3.375,5.0625,7.59375,11.390625,17.085938,25.628906,38.443359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,10
8,1.0,1.5,2.25,3.375,5.0625,7.59375,11.390625,17.085938,25.628906,38.443359,...,2.487900e+07,3.731850e+07,5.597774e+07,8.396662e+07,1.259499e+08,1.889249e+08,2.833873e+08,4.250810e+08,8,50

In [13]:
mock_communities.to_csv("mock_communities.csv")